

<div style="padding: 50px 250px 10px;" , align="center">
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @mods.each do |mod| %>
    <tr>
      <td><%= mod.name %></td>
      <td><%= mod.code %></td>
      <td><%= link_to 'Show', mod %></td>
      <td><%= link_to 'Edit', edit_mod_path(mod) %></td>
      <td><%= link_to 'Destroy', mod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
</div>

  <div align="center">
    <a href="/mods/new">
      <button type="button" class="btn btn-primary ">New module</button>
    </a>
  </div>
</html>
