<h1>Hi, <%= current_user.givenname %></h1>
<h3>These are your projects:</h3>
<div class="ui-card-wrap">
  <% @requirements.each do |f| %>
    <div class="card col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= f.project_name %></h1>
        </div>
        <div class="panel-body">
          <p><%= f.project_details %></p>
          <%= link_to("Details", requirement_path(f), class: "btn btn-default") %>
          <%= link_to('Decline', decline_requirement_path(f), class: "btn btn-default", data: {confirm: 'Are you sure?'}) %>
        </div>
      </div>
    </div>
  <% end %>
</div>