<h1 class="text-center">New Project</h1>

<div style="padding: 200px 250px 10px;">
  <%= simple_form_for @requirement do |f| %>
    <%= f.input :company_name %>
    <%= f.input :email, input_html: {autocomplete: 'email'} %>
    <%= f.input :project_name %>
    <%= f.input :project_details %>
    <%= f.input :budget %>
    <%= f.button :submit %>
  <% end %>
  <button class="btn btn-primary" onclick="goBack()">Go Back</button>
</div>
