<div class="col-md-2"></div>
<div class="col-md-8">
  <h1>New project</h1>
  <%= form_for(@requirement, action: "create") do |f| %>
    <div class="form-group">
      <%= f.label(:project_name, "Project name", class: "control-label") %>
      <%= f.text_field(:project_name, class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label(:budget, "Project budget", class: "control-label") %>
      <%= f.text_field(:budget, class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label(:project_details, "Project details", class: "control-label") %>
      <%= f.text_area(:project_details, size: "0x3", class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label(:company_name, "Company name", class: "control-label") %>
      <%= f.text_field(:company_name, class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label(:email, "Your email", class: "control-label") %>
      <%= f.text_field(:email, class: "form-control") %>
    </div>
    <%= f.submit("Upload", class: "btn btn-default btn-lg btn-block") %>
  <% end %>
</div>
<div class="col-md-2"></div>