<h1 class="text-left">Show project</h1>
<div style="padding: 20px 250px 10px;"></div>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Company Name</th>
    <th>Email</th>
    <th>Project Name</th>
    <th>Details</th>
    <th>Budget</th>
    <th>State</th>

  </tr>
    <tr>
      <td><%= @requirement.company_name %></td>
      <td><%= @requirement.email %></td>
      <td><%= @requirement.project_name %></td>
      <td><%= @requirement.project_details %></td>
      <td><%= @requirement.budget %></td>
      <td><%= @requirement.state %></td>
    </tr>
  </table>

<div style="padding: 100px 250px 10px;"></div>
<div align="center", style="font-size: 30px">
<p>Your project <%= @requirement.project_name %> is <%= @requirement.state %>

</p>
<button class="btn btn-primary" onclick="goBack()">Go Back</button>
</div>
