<h1>All module leaders</h1>
<div class="ui-card-wrap">
  <% @users.each do |f| %>
    <div class="card col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= f.givenname %> <%= f.sn %> <%= f.admin ? '[admin]' : '' %></h1>
        </div>
        <div class="panel-body">
          <p>Module: <%= f.mod.name %></p>
          <%= link_to("Details", f, class: "btn btn-default") %>
          <%= link_to("Edit", edit_user_path(f), class: "btn btn-default") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div align="center">
  <%= link_to 'Add module leader', new_user_path, class: "btn btn-default" %>
</div>