<h1 class="text-center">Show project</h1>

Your projects:

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Company Name</th>
    <th>Email</th>
    <th>Project Name</th>
    <th>Details</th>
    <th>Budget</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @records.each do |r| %>
    <tr>
      <td><%= Requirement.find(r.project_id).company_name %></td>
      <td><%= Requirement.find(r.project_id).email %></td>
      <td><%= Requirement.find(r.project_id).project_name %></td>
      <td><%= Requirement.find(r.project_id).project_details %></td>
      <td><%= Requirement.find(r.project_id).budget %></td>
      <td><%= Requirement.find(r.project_id).state %></td>
      <td><%= link_to 'Show', requirement_path(Requirement.find(r.project_id)) %></td>
      <% if Requirement.find(r.project_id).state == 'Waiting' %>
        <td><%= link_to 'Accept', accept_requirement_path(Requirement.find(r.project_id)), data: {confirm: 'Are you sure?'} %></td>
      <% else %>
        <td><%= link_to 'Decline', decline_requirement_path(Requirement.find(r.project_id)), data: {confirm: 'Are you sure?'} %></td>
      <% end %>
      <td><%= link_to 'Delete', Requirement.find(r.project_id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </table>