.modal-dialog
  .modal-content
    = simple_form_for [:staff, @consumable], remote: true do |f|
      .modal-header
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
        %h4.modal-title Programmes for #{@consumable.name}
      .modal-body
        = f.input :stock_level, as: :string

      .modal-footer
        .pull-left
          = link_to fa_icon('times', text: 'Close' ), '#', class: 'btn btn-default', data: { dismiss: 'modal' }
        %button{type: :submit, class: 'btn btn-primary'}
          = fa_icon('check', text: 'Save')

