- content_for :title, 'New consumable'


.panel.panel-default
  .panel-heading
    %h3.panel-title Consumable
  = simple_form_for [:staff, @consumable] do |f|
    .panel-body
      .col-md-6
        = f.input :name
        = f.input :description
        = f.input :stock_level, as: :string
        = f.input :min_stock_level, as: :string
        = f.input :category, collection: Consumable.categories.keys, input_html: { class: 'select2' }

    .panel-footer
      = f.button :submit, class: 'btn btn-primary'
      .pull-right
        = link_to 'Back', staff_consumables_path, class: 'btn btn-default'
