<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>epiGenesys</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
      function goBack() {
          window.history.back();
      }
  </script>
</head>

<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home Page</a>
    </div>
    <div class="nav navbar-nav navbar-header navbar-right ">
      <% if user_signed_in? %>
        <li>Logged in as <strong><%= current_user.username %></strong>.</li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
      <% else %>
        <li>
        <%= link_to records_path, :class => 'navbar-link' do %>
          <%= content_tag :span, "Login", :class => "glyphicon glyphicon-user" %>
        <% end %>
        </li>
      <% end %>
    </div>
  </div>
</nav>

<%= yield %>
</body>
</html>
