!!!
%html{ lang: 'en' }
  %head
    %title= [strip_tags(app_title), content_for(:title)].compact.join(' - ')
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1' }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    = stylesheet_link_tag    "university", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    %link{ href: '/apple-touch-icon.png', rel: 'apple-touch-icon' }

    = csrf_meta_tags
  %body{ class: "#{'with-affix-action' if @hide_footer} #{environment_notice_body_class}" }
    = link_to 'Skip to main content', '#main-content', class: 'sr-only sr-only-focusable'
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in{ class: "alert-#{name == 'notice' ? 'success' : 'danger'}" }
          .container
            - if name == 'notice'
              = fa_icon('check')
            - else
              = fa_icon('warning')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } }= fa_icon 'times'


    %noscript
      .warning-page-cover
        .alert.alert-info
          %h2 Sorry, it appears that you are using a web browser without JavaScript which prevents us offering you a rich online experience.
          %p Please enable JavaScript or use a different web browser, or alternatively contact the CiCS Helpdesk for assistance.

    %nav#main-nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          = link_to '/', title: "Go back to home page", class: 'navbar-brand' do
            = fa_icon('home')
            %span.sr-only Go back to home page
        %ul.nav.navbar-nav



          - if account_signed_in?

            - if current_account.staff?

              = navbar_link_to staff_consumables_path, identifier: 'consumables', title: 'Current applications'  do
                = fa_icon 'shopping-cart', class: 'fa-fw'
                Consumables

              = navbar_link_to staff_purchases_path, identifier: 'report', title: 'Current applications'  do
                = fa_icon 'shopping-cart', class: 'fa-fw'
                Report

            - else

              = navbar_link_to students_consumables_path, identifier: 'consumables', title: 'Current applications'  do
                = fa_icon 'shopping-cart', class: 'fa-fw'
                Consumables

            = navbar_link_to destroy_account_session_path, method: :delete, title: "Log out of the system", liclass: 'user-link' do
              Log out
          - else
            = navbar_link_to new_account_session_path, title: "Log in to the system", liclass: 'user-link' do
              Log in


    #header
      .container
        .row
          #uni-logo.col-xs-4.col-sm-4.col-md-2.col-lg-2
            = link_to 'http://www.sheffield.ac.uk', title: 'The University of Sheffield', class: 'university-logo', target: '_blank', tabindex: '-1' do
              %span.sr-only Visit the University of Sheffield website
          .col-xs-8.col-sm-8.col-md-9.col-lg-10
            .app-title
              = app_title
              - if content_for?(:section_title)
                %p= content_for(:section_title)


    #main-content{ 'aria-live' => :assertive }
      .container
        - if content_for?(:section_title)
          %h1.sr-only= content_for(:section_title)
        = yield
    - unless @hide_footer
      %footer.footer
        .footer-bar
          .container
            &copy; #{Date.today.year}
            = link_to "epiGenesys", "https://www.epigenesys.org.uk", title: "epiGenesys - A University of Sheffield Company", target: '_blank'
