<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>epiGenesys</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Genesys Team 10">
  <meta name="description" content="This is a project platform.">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand">
    <%= image_tag('/epiGenesys-white.png', height: '32', alt: 'epiGenesys') %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#epi-navbar-head" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="epi-navbar-head">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="epi-dropdown-project" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project</a>
          <div class="dropdown-menu" aria-labelledby="epi-dropdown-project">
            <%= link_to("My projects", records_path, method: :get, class: 'dropdown-item') %>
            <%= link_to("All projects", requirements_path, method: :get, class: 'dropdown-item') %>
          </div>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="epi-dropdown-module" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Module</a>
            <div class="dropdown-menu" aria-labelledby="epi-dropdown-module">
              <%= link_to("View all modules", mods_path, method: :get, class: 'dropdown-item') %>
              <%= link_to("View all module leaders", users_path, method: :get, class: 'dropdown-item') %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="epi-dropdown-log" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong><%= current_user.email %></strong></a>
          <div class="dropdown-menu" aria-labelledby="epi-dropdown-log">
            <%= link_to("My profile", records_path, method: :get, class: 'dropdown-item') %>
            <%= link_to("Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to("Login", records_path, class: 'btn btn-primary') %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<main role="main" class="container" style="padding-top:4.5rem;">
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <%= yield %>

  <footer class="container mt-5">
    <div class="row">
      <div class="col-md-6" align="start">
        <h5>Contact</h5>
        <p><a href="tel:+441142221888">+44 (0)114 222 1888</a></p>
        <p><a href="mailto:info@epigenesys.org.uk">info@epigenesys.org.uk</a></p>
        <p>epiGenesys, Floor C, Cathedral Court<br>1 Vicar Lane, Sheffield, S1 2LT</p>
      </div>
      <div class="col-md-6" align="right">
        <%= image_tag('/uos-logo.svg', height: '64', alt: 'UoS') %>
      </div>
    </div>
  </footer>
</main>
</body>
</html>
